/* maximilian.bio */
[ data-inviewport="maximilian"] {
    opacity: 0;
}

[data-inviewport="maximilian"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards;
    animation-delay: 0s;
}

[ data-inviewport="dot"] {
    opacity: 0;
}

[data-inviewport="dot"].is-inViewport {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: .5s;
}

[ data-inviewport="bio"] {
    opacity: 0;
}

[data-inviewport="bio"].is-inViewport {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

/* Navbar Animations */
[ data-inviewport="navitem1"] {
    opacity: 0;
}

[data-inviewport="navitem1"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0s;
}

[ data-inviewport="navitem2"] {
    opacity: 0;
}

[data-inviewport="navitem2"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0.1s;
}

[ data-inviewport="navitem3"] {
    opacity: 0;
}

[data-inviewport="navitem3"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0.2s;
}

[ data-inviewport="navitem4"] {
    opacity: 0;
}

[data-inviewport="navitem4"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0.3s;
}

[ data-inviewport="navitem5"] {
    opacity: 0;
}

[data-inviewport="navitem5"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0.4s;
}

[ data-inviewport="navitem6"] {
    opacity: 0;
}

[data-inviewport="navitem6"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
    animation-delay: 0.5s;
}

/* Header Animations */
[ data-inviewport="header"] {
    opacity: 0;
}

[data-inviewport="header"].is-inViewport {
    animation: fadeIn .5s ease-in-out forwards, slideIn .5s ease-in-out forwards;
}

/* Paragraph Animations */
[data-inviewport="paragraph"] {
    opacity: 0;
}

[data-inviewport="paragraph"].is-inViewport {
    animation: fadeIn 2s ease-in-out forwards;
}
/* Bullet Animations */
[data-inviewport="bullet"] {
    opacity: 0;
}

[data-inviewport="bullet"].is-inViewport {
    animation: fadeIn 1s ease-in-out forwards,
               slideInSideways 1s ease-out;
}

/* Image Animations */
[data-inviewport="image"] {
    opacity: 0;
}

[data-inviewport="image"].is-inViewport {
    animation: fadeIn 1s ease-in-out forwards, zoomIn .5s ease-in-out forwards;
}

/* Horizontal Rule Animation */
[data-inviewport="horizontal-rule"] {
    opacity: 0;
}

[data-inviewport="horizontal-rule"].is-inViewport {
    animation: fadeIn 2s ease-in-out forwards, zoomIn 1s ease-in-out forwards;
}
/* Form Animation */
[data-inviewport="form"] {
    opacity: 0;
}

[data-inviewport="form"].is-inViewport {
    animation: fadeIn 1.5s ease-in-out forwards, zoomIn .5s ease-in-out forwards;
}
/* Footer Animation */
[data-inviewport="footer"] {
    opacity: 0;
}

[data-inviewport="footer"].is-inViewport {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 1;
    }

    100% {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
        z-index: 1;
    }
}

@keyframes slideInSideways {
    0% {
        transform: translateX(-15%);
    }

    100% {
        transform: translateX(0%);
        z-index: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        z-index: 1;
    }
}